@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  background-color: rgb(9,19,31);
}

div .game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game {
  background-color: rgb(9, 19, 31);
  padding: 30px;
}

#header {
  font-size: 2em;
  color: #FFFFFF;
  background-color: rgb(9, 19, 31);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  padding-left: 20px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
